* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255) !important;
  /* background:linear-gradient(to left, #7b4397,#dc2430) !important; */
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}
h1,
h6 {
  padding: 0.5rem;
}

.card {
  margin: 1rem;
  border: 2px solid black;
  border-radius: 0.8rem;
  padding: 0.5rem;
  background-color: coral !important;
}

.flx1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapp {
  margin-top: 3rem !important;
  display: flex;

  justify-content: flex-start;
}

img {
  width: 14rem;
  height: 14rem;
}

.container {
  background-color: cornflowerblue;
  padding: 0.2rem;
}
.container2{
  background-color: rgb(139, 97, 179);
  padding: 0.2rem;
  color: white;
}

.lb {
  font-weight: lighter;
}
.mb {
  font-weight: bolder;
}
